<?php

$header = <<<'EOF'
This file is part of the Liquid package.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

@package Liquid
EOF;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'braces' => ['position_after_functions_and_oop_constructs' => 'same'],
    ])
    ->setIndent("\t")
    ->setFinder(
        PhpCsFixer\Finder::create()
        ->in(__DIR__)
    )
;
