sudo: false

language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer install --prefer-dist

after_success:
  - travis_retry php vendor/bin/coveralls
