<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    executionOrder="random"
    resolveDependencies="true"
    failOnRisky="true"
    failOnWarning="true"
    backupStaticAttributes="true"
>
	<testsuites>
		<testsuite name="Main">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

	<php>
		<ini name="date.timezone" value="UTC"/>
	</php>
</phpunit>
