<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" verbose="true" colors="true">
	<testsuites>
		<testsuite name="Liquid test suite">
			<directory>tests/Liquid/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/Liquid/</directory>
		</whitelist>
	</filter>
</phpunit>
